<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h3>Registrar Compra</h3>
</header>
<section>

    <form action="#" th:action="@{/addCompra}" th:object="${compra}" method="post">
        <div class="form-group">
            <select id="fornecedor" th:field="*{fornecedor}" class="form-control" required>
                <option value="">Fornecedor</option>
                <option th:each="fornecedor : ${listaFornecedores}" th:value="${fornecedor}"
                        th:text="${fornecedor}"></option>
            </select><br>
            <select id="produto" th:field="*{produto}" class="form-control" required>
                <option value="">Produto</option>
                <option th:each="produto : ${listaProdutos}" th:value="${produto}"
                        th:text="${produto}"></option>
            </select><br>
            <input id="quantidade" type="text" class="form-control" placeholder="Quantidade" th:field="*{quantidade}" required><br>
            <input id="data" type="date" class="form-control" placeholder="Data" th:field="*{data}" required>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a href="/compra"><button type="button" box-align="right" class=" btn btn-outline-primary ">Voltar</button></a>
    </form>
</section>
</body>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>

</html>