<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
    <h3>Novo Cliente</h3>
</header>
<section>
    <div>

        <body>
        <form action="#" th:action="@{/addCliente}" th:object="${cliente}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Novo cliente" th:field="*{nome}">
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
        <div>
            <a href="index.html">Página Inicial</a>
        </div>
</section>
</body>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>

</html>