<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h3>Registrar Compra</h3>
</header>
<section>

    <form action="#" th:action="@{/addCompra}" th:object="${compra}" method="post">
        <div class="form-group">
            <select th:field="*{fornecedor}" class="form-control">
                <option th:each="fornecedor : ${listaFornecedores}" th:value="${fornecedor.nome}"
                        th:text="${fornecedor.nome}"></option>
            </select><br>
            <select th:field="*{produto}" class="form-control">
                <option th:each="produto : ${listaProdutos}" th:value="${produto.nome}"
                        th:text="${produto.nome}"></option>
            </select><br>
            <input type="text" class="form-control" placeholder="Quantidade" th:field="*{quantidade}"><br>
            <input type="date" class="form-control" placeholder="Data" th:field="*{data}"><br>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </form>
</section>
</body>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>

</html>