<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h3>Inserir Forncedor</h3>
</header>
<section>

    <body>
    <form action="#" th:action="@{/addFornecedor}" th:object="${fornecedor}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Novo fornecedor" th:field="*{nome}">
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a href="/"><button type="button" box-align="right" class=" btn btn-outline-primary ">Menu</button></a>
    </form>
    </body>

</section>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>
</body>

</html>