<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h3>Adicionar Produto</h3>
</header>
<section>

    <form action="#" th:action="@{/addProduto}" th:object="${produto}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Nome do Produto" th:field="*{nome}" required><br>
            <select th:field="*{tipoProduto}" class="form-control" required>
                <option value="">Tipo de Produto</option>
                <option th:each="tipoProduto : ${listaTiposProduto}" th:value="${tipoProduto}"
                        th:text="${tipoProduto}"></option>
            </select><br>
            <input type="text" class="form-control" placeholder="Quantidade" th:field="*{quantidade}" required><br>
        </div>
        <button type="submit " class="btn btn-primary ">Adicionar</button>
        <a href="/menu"><button type="button" box-align="right" class=" btn btn-outline-primary ">Menu</button></a>
    </form>
</section>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>
</body>

</html>