!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
    <h3>Adicionar Produto</h3>
</header>
<section>
    <div>

        <body>
        <form action="#" th:action="@{/produto}" th:object="${produto}" method="post">
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Preço de compra">
            </div>
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Preço de venda">
            </div>
            <div class="form-group">
                <input type="name" class="form-control" placeholder="Quantidade">
            </div>
            <div class="form-group">
                <select class="form-control">
                    <option selected>Selecione um tipo</option>
                    <option value=" " disable selected hidden>Selecione o tipo</option>
                    <option value="Alimentício ">Alimenticio</option>
                    <option value="Higiene ">Higiene</option>
                    <option value="Escritório ">Escritorio</option>
                </select>
            </div>

            <p><small class="form-text text-muted">Inserir um novo tipo</small>
                <button class="round-button-circle">+</button><br></p>
            <button type="submit " class="btn btn-primary ">Adicionar</button>
        </form>

        </body>
    </div>
    <div>
    </div>
</section>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>
</body>

</html>