<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Formulario</title>
    <link href="style1.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<header>
    <h3>Adicionar Produto</h3>
</header>
<section>
    <div>


        <form action="#" th:action="@{/addProduto}" th:object="${produto}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome do Produto" th:field="*{nome}">
                <select th:field="*{tipoProduto}" class="form-control">
                    <option th:each="tipoProduto : ${listaTiposProduto}" th:value="${tipoProduto.nome}"
                            th:text="${tipoProduto.nome}"></option>
                </select><br>
                <input type="text" class="form-control" placeholder="Quantidade" th:field="*{quantidade}"><br>
            </div>
            <button type="submit " class="btn btn-primary ">Adicionar</button>
        </form>


    </div>
    <a href="index.html">Página Inicial</a>
    <div>
    </div>
</section>
<footer>
    <p>&copy; Atualização de Estoque</p>
</footer>
</body>

</html>