<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Login</title>
    <link href="style1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<header>
    <h3>Login</h3>
</header>
<section>
    <div>

        <body>
        <form action="#" th:action="@{/}" th:object="${usuario}" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" th:field="*{login}" class="form-control" id="login"><br>
                <label for="senha">Senha</label>
                <input type="password" th:field="*{senha}" class="form-control" id="senha">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
</section>
</body>
<footer>
    <br>
    <p>&copy; Atualização de Estoque</p>
</footer>

</html>